<%- contentFor('body') %>
<div class="jumbotron text-center">
    <div id="user">
        <template v-for="user in users">
            {{ user.first_name }} - {{ user.createdAt }}
        </template>
    </div>
</div>

<script>

new Vue({
    el:'#user',
    data: {
        users: []
    },
    methods: {
        async show(){
            try{
                const users = await axiosInstance.get('/user/show')
                this.users = users.data
                console.log(this.users)
            }catch(err){
                console.log(err)
            }
        }
    },
    async mounted() {
        this.show()
    },   
})


</script>
