<%- contentFor('body') %>
<style>
#user{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6C7A89;
}

.row{
    width: 300px;
}

</style>
<div>

    <div id="user">
        <div id="box">
           
            <form @submit.prevent="logar">

                
                <span  v-html="alert ? alert : ''"></span>
              

                <div class="form-group row">
                  
                        <input type="text"  class="form-control" id="staticEmail" >
                   
                </div>
                <div class="form-group row">
                   
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" >
                   
                </div>
                <div class="form-group row">
                    
                        <button type="text" class="btn btn-primary" style="width: 100%;" :disabled="loading"><i class="fas fa-spinner fa-spin" v-if="loading"></i>Cadastrar</button>
                    
                </div>
                
                <h6><a href="/auth">Voltar</a></h6>
            </form>

        </div>
    </div>

</div>

<script>
new Vue({
    el:'#user',
    data:{
        loading: false
    },
    methods: {
     
    },
})
</script>