<%- contentFor('body') %>
<style>
#user{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6C7A89;
}

.row{
    width: 300px;
}

</style>
<div>

    <div id="user">
        <div id="box">
           
            <form @submit.prevent="store">

                
                <span  v-html="alert ? alert : ''"></span>
                
                <div class="form-group row">
                  
                        <input type="text"  class="form-control" placeholder="first_name" v-model="user.first_name">
                   
                </div>

                <div class="form-group row">
                  
                        <input type="text"  class="form-control"  placeholder="last_name" v-model="user.last_name">
                   
                </div>

                <div class="form-group row">
                  
                        <input type="text"  class="form-control"  placeholder="email" v-model="user.email">
                   
                </div>

                <div class="form-group row">
                   
                        <input type="password" class="form-control" placeholder="username" v-model="user.username">
                   
                </div>

                <div class="form-group row">
                   
                        <input type="password" class="form-control" placeholder="password" v-model="user.password">
                   
                </div>
                <div class="form-group row">
                    
                        <button type="text" class="btn btn-primary" style="width: 100%;" :disabled="loading"><i class="fas fa-spinner fa-spin" v-if="loading"></i>Cadastrar</button>
                    
                </div>
                
                <h6><a href="/auth">Voltar</a></h6>
            </form>

        </div>
    </div>

</div>

<script>
new Vue({
    el:'#user',
    data:{
        loading: false,
        user : {
            first_name : '',
            last_name: '',
            email: '',
            username: '',
            password: '',

        },
        alert: null,
    },
    methods: {
        async store(){
            try{
                const user = await axiosInstance.post('/user/store' , this.user)
                console.log(user)
            }catch(err){
                const data = err.response.data
                if(data.name == 'ValidationError'){
                    var msg = ''
                    Object.keys( data.errors ).forEach(err=>{ 
                        msg = msg + data.errors[err].message  + '<br>'
                    })
                    this.alert = `<div class="alert alert-danger row"><b>${msg}</b></div>`
                }else if(data.name == 'MongoError' && data.code == 11000){
                    this.alert = `<div class="alert alert-danger row"><b>${data.errmsg}</b></div>`
                    console.log(data)
                }else{
                    this.alert = `<div class="alert alert-danger row"><b>Tente novamente</b></div>`
                }
            }
        }
    },
})
</script>